#p_destaque {
    text-align: center;
    color: blue;
  }

div p {
    text-align: center;
    background-color: green;
}

p {
  border-top-style: solid;
  border-top-color: red;
  border-right-style: solid;
  border-right-color: red;
  border-bottom-style: solid;
  border-bottom-color: red;
  border-left-style: solid;
  border-left-color: red;
}

.espacamento15 {
  padding: 15px;
}

.margem10 {
  margin: 10px;
}
