#p_destaque {
    text-align: center;
    color: blue;
  }

div p {
    text-align: center;
    background-color: green;
}

p {
  border-top-style: solid;
  border-top-color: greenyellow;
  border-right-style: solid;
  border-right-color: greenyellow;
  border-bottom-style: solid;
  border-bottom-color: greenyellow;
  border-left-style: solid;
  border-left-color: greenyellow;
}

.espacamento25 {
  padding: 25px;
}

.margem12 {
  margin: 12px;
}
